<% provide :button_text, t("view.admin.destinations.thembaiviet") %>

<div class="modal-header text-center">
  <h2 class="modal-title"><i class="fa fa-th-list"></i>
    <%= t "view.admin.destinations.thembaiviet" %>
  </h2>
</div>

<%= render "form" %>

<%= javascript_include_tag "google_map/map_choice_province" %>
