<footer class="clearfix">
  <div class="pull-right">
    <%= t "designed_by" %> <i class="fa fa-heart text-danger"></i>
    <a href="https://www.facebook.com/lam.tran.73"
      target="_blank"> <%= t "tran_lam" %>
    </a>
  </div>
  <div class="pull-left">
    <span> </span> <%= t "copy" %>;
    <a href="http://recruit.framgia.vn/" target="_blank">
      <%= t "framgia" %>
    </a>
  </div>
</footer>
